*{
	box-sizing: border-box;
}
body{
	background-color: #f6f5f1;
}

#page{
	width: 1000px;
	margin: 0px auto;

}
nav#main-nav{
	background: yellow;
}
#body-page{
	background-color: #fff;
	min-height: 500px;
}

section#left-page{
	width: 750px;
	padding: 10px;
	float: left;
	background-color: cyan;
}

aside{
	width: 250px;
	padding: 10px;
	float: right;
	background-color: yellow;
}
.clr{ clear: both; }
	footer#footer-page{
	min-height: 100px;
	background-color: #252525;
}

/*khoi*/
.block{
	-webkit-box-shadow: 0 7px 5px 0 #E8E8E8;
	box-shadow: 0 7px 5px 0 #E8E8E8;
	width: 100%;

}
.block header{
	border-top: 2px solid cyan;
}


	
